.label {
    color: var(--completed-task-color);
    text-decoration: line-through;
}

.span {
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: auto;
    background-image: url("../../../../public/img/badges/Rectangl-36-Stroke.svg");
}

.btn {
    color: var(--white);
    background-color: var(--btn-footer-click);
    border: 1px solid var(--btn-footer-border);
}