.list__label_mod {
    color: #d9d9d9;
    text-decoration: line-through;
}

.list__span_mod {
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: auto;
    background-image: url("../../../public/img/badges/Rectangl-36-Stroke.svg");

}

.todoapp__btn_mod {
    color: #FFFFFFD6;
    background-color: #EFA501;
    border: 1px solid rgba(175, 47, 47, 0.2);
}